* {
  background-image: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
}

window {
  background-color: rgba(24, 24, 37, 0.72);
}

button {
  color: #cdd6f4;
  background-color: rgba(49, 50, 68, 0.82);
  border: 1px solid rgba(137, 180, 250, 0.28);
  border-radius: 22px;
  margin: 12px;
  padding: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28%;
}

button:focus,
button:hover,
button:active {
  background-color: rgba(137, 180, 250, 0.28);
  border-color: #89b4fa;
  color: #cdd6f4;
  outline-style: none;
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/share/wlogout/icons/lock.svg"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/share/wlogout/icons/logout.svg"));
}

#suspend {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.svg"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.svg"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/share/wlogout/icons/shutdown.svg"));
}
