# vim:ft=kitty

## name: {{NAME}}
## author: Tanakorn

background            {{BG}}
foreground            {{FG}}
selection_background  {{HOVER}}
selection_foreground  {{FG}}
cursor                {{ACCENT_LIGHT}}
cursor_text_color     {{ACTIVE_FG}}

url_color             {{CYAN}}

active_border_color   {{ACCENT}}
inactive_border_color {{BORDER_INACTIVE}}

active_tab_background   {{ACCENT}}
active_tab_foreground   {{ACTIVE_FG}}
inactive_tab_background {{SURFACE}}
inactive_tab_foreground {{DIM}}

# Normal colors
color0  {{KITTY_C0}}
color1  {{KITTY_C1}}
color2  {{KITTY_C2}}
color3  {{KITTY_C3}}
color4  {{KITTY_C4}}
color5  {{KITTY_C5}}
color6  {{KITTY_C6}}
color7  {{KITTY_C7}}

# Bright colors
color8  {{KITTY_C8}}
color9  {{KITTY_C9}}
color10 {{KITTY_C10}}
color11 {{KITTY_C11}}
color12 {{KITTY_C12}}
color13 {{KITTY_C13}}
color14 {{KITTY_C14}}
color15 {{KITTY_C15}}
