window {
    background-color: {{WINDOW_BG}};
    color: {{FG}};
}

/* search entry */
entry {
    background-color: {{SURFACE}};
    color: {{FG}};
    border: 1px solid {{ACCENT}};
    border-radius: 8px;
    padding: 8px 12px;
}

button, image {
    background: none;
    border: none;
    color: {{FG}};
}

button:hover {
    background-color: {{HOVER}};
    border-radius: 8px;
}

#category-button {
    margin: 0 10px 0 10px;
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px solid {{BORDER}};
}

#files-box {
    padding: 5px;
    border: 1px solid {{BORDER}};
    border-radius: 12px;
}

#math-label {
    font-weight: bold;
    font-size: 16px;
    color: {{ACCENT_LIGHT}};
}
