* {
    bg-col:       {{BG}};
    bg-col-light: {{SURFACE}};
    border-col:   {{ACCENT}};
    selected-col: {{HOVER}};
    accent-blue:  {{BLUE}};
    accent-lav:   {{ACCENT_LIGHT}};
    fg-col:       {{FG}};
    fg-col2:      {{FG_SUB}};
    grey:         {{DIM}};
}
