add_newline = false

format = "$directory$git_branch$git_status$character"

[directory]
truncation_length = 3
style = "bold {{BLUE}}"

[git_branch]
symbol = " "
style = "bold {{ACCENT_LIGHT}}"

[git_status]
style = "bold {{CYAN}}"

[character]
success_symbol = "[❯]({{ACCENT}})"
error_symbol = "[❯]({{DANGER}})"
